.game-container {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  
  // Фон по умолчанию (когда фона нет)
  background-color: #000;
}

.game-active {
  background-image: url('@images/svg/game-back.svg'); // ссылка на изображение
  background-size: cover;  // масштабирует изображение, чтобы покрыть весь экран
  background-position: center; // центрирует изображение
  background-repeat: no-repeat; // исключает повторение изображения
}

.start-menu,
.level-complete-menu,
.countdown,
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
}

.level-complete-menu {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 55%;
    margin: 0 auto;
    border: solid #00D98E 1px;
    border-radius: 15px;
    background: 
        url('../images/noise.png'),
        radial-gradient(circle, rgba(0,217,142,0.2) 0%, rgba(0,217,142,0.0946) 77%, rgba(0,217,142,0.06) 100%);
    background-size: cover;
    background-position: center;
    font-family: "Better VCR", sans-serif;
    font-size: 15px;
    color: #00D98E;
  }
}

.game-over h1 {
  color: #C200AD;
  font-size: 36px;
}

.game-over-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
  .again {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 95%;
    margin: 0 auto;
    border: solid #00D98E 1px;
    border-radius: 15px;
    background: 
        url('../images/noise.png'),
        radial-gradient(circle, rgba(0,217,142,0.2) 0%, rgba(0,217,142,0.0946) 77%, rgba(0,217,142,0.06) 100%);
    background-size: cover;
    background-position: center;
    font-family: "Better VCR", sans-serif;
    font-size: 15px;
    color: #00D98E;
  }
  .exit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 95%;
    margin: 0 auto;
    border: solid #8051F1 1px; /* Изменён цвет границы на #8051F1 */
    border-radius: 15px;
    background: 
        url('../images/noise.png'), /* Фоновое изображение */
        radial-gradient(circle, rgba(128,81,241,0.2) 0%, rgba(128,81,241,0.0946) 77%, rgba(128,81,241,0.06) 100%); /* Градиент с прозрачностью 20% */
    background-size: cover;
    background-position: center;
    font-family: "Better VCR", sans-serif;
    font-size: 15px;
    color: #8051F1; /* Цвет текста изменён на #8051F1 */
  }
}

.countdown {
  font-size: 48px;
  font-weight: bold;
}

.game-info {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  color: #333;
  .lvl {
    color: #fff;
    span {
      color: #8824F5;
    }
  }
}

.timer-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ccc;
}

.timer-bar-fill {
  height: 100%;
  background-color: #8824F5;
  transition: width 0.07s linear;
}

@keyframes bounceScale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.circle-image {
  animation: bounceScale 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}
