.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    width: 100%;
    .info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: auto;
            padding: 0 20px;
            border-radius: 9999px;
            border: solid #8051F1 1px;
            background: linear-gradient(270deg, rgba(128,81,241,0) 0%, rgba(128,81,241,0.0446) 20%, rgba(128,81,241,0.2) 100%);
            span {
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .subtitle {
        text-align: center;
        margin-top: 25px;
        line-height: 25px;
        color: #fff;
        height: 50px;
        span {
            color: #8051F1;
        }
    }

    .ranking-table {
        width: 100%;
        padding: 0 10px 80px 10px;
        height: 80vh;
        overflow-y: scroll;
    }
}