.navigation {
    // height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 30px 10px;
    background-image: radial-gradient(circle, rgba(128,81,241,.2) 0%, rgba(128,81,241,0) 100%);
    background-position: center 120%;
    z-index: 9999;
    .navBtn {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            max-height: 41px;
        }
    }
}